[submodule "homeassistant/themes/home-assistant-community-themes"]
	path = homeassistant/themes/home-assistant-community-themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git
